{% extends 'common/base.html' %}
{% block content %}
<div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                     <div class="about-box">
                        <div class="white-bg">
                           <span>Our program can recognize 112 mushrooms</span>
                        </div>
                     </div>
                  </div>
               </div>
                  <div class="about-box">
                     <div class="titlepage">
                        <h2>About US</h2>
                        <span>This is our project for the Softuniada. We decided to make a Mushroom recognizer website
                        because we already have had an experience with Flower recognizer. The whole project was build this month
                        (1.04.2021-30.04.2021). This project taught us how to work like a team.</span>
                        <div class="read-more">
                           <p>Our github profiles</p>
                           <a href="https://github.com/ziruzavar">Back-end + Docker</a>
                           <a href="https://github.com/SpectraPhantom02" >Ai logic</a>
                           <a href="https://github.com/DimitarPetroww">Front-end</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}