{% extends 'common/base.html' %}
{% load static %}
{% block content %}

    <div id="plant" class="plants">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        <h2>Mushrooms</h2>
                        <span>Our program recognizes around 120 mushrooms.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mushrooms"></div>
        </div>
    </div>
    </div>
    <div class="pagination"></div>
    <script src="{% static 'js/catalog.js' %}" type="module"></script>
{% endblock %}