{% extends 'common/base.html' %}
{% block content %}
<div id="plant" class="plants">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Flowers</h2>
                     <span>Our program recognizes around 120 mushrooms.</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
                {% for mushroom in mushrooms %}
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="plants-box">
                     <figure><img src="{{ mushroom.image_url }}" alt="img"/></figure>
                     <h3>{{ mushroom.name }}</h3>
                     <p>{{ mushroom.description }}</p>
                      <p>{{ mushroom.edible_choices }}</p>
                  </div>
                  </div>
                {% endfor %}
               </div>
            </div>
         </div>
      </div>
{% endblock %}